.chartContainer {
  background-color: var(--card-bg);
  padding: 24px;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 82%;
}

.chartTitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-primary);
}

.chartWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.legendItem {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  color: var(--text-secondary);
  font-size: 14px;
}

.legendLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legendDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.legendValue {
  font-weight: 600;
  color: var(--text-primary);
  text-align: right;
  min-width: 70px; 
}
@media (max-width: 480px) {
  .chartContainer {
    font-size: 8px;
    width: 78vw;
  }
}