.appContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden; 
}

.contentWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
  padding: 24px;
  background-color: var(--background-color);
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.contentWrapper::-webkit-scrollbar { display: none; }

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .contentWrapper {
    padding: 16px; 
  }
}

@media (max-width: 767px) {

  .appContainer {
      
      position: relative; 
  }

  .contentWrapper {
    padding: 12px; 
  }

}